$primary: 'Montserrat', sans-serif;
$secondary: 'Nunito', sans-serif;
$header-primary: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
$pam_color3: #FFDB80;
$pam_color1: #6D31D0;
$pam_color5: #434364;
$pam_color2: #828CDE;
$pam_color6: #FFFFFF;
$pam_color_linear9: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
$pam_color_linear2: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
$pam_color_linear3: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
$pam_color_linear4: linear-gradient(66.27deg, #FE6F2D -10.45%, #FFD059 76.78%);
$pam_color_linear5: linear-gradient(75.69deg, #828CDE -12.62%, #00B8C3 103.26%);
$pam_color_linear8: linear-gradient(134.65deg, rgba(255, 185, 175, 0.3) -3.89%, #A651FB 94.34%);

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background: $header-primary;
    &__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;

        & a {
            font-size: 16px;
            font-family: $secondary;
            font-weight: 500;
            line-height: 22.4px;
            color: $pam_color6;
            text-transform: uppercase;
        }
    }

    &__button-wrapper {
        & button {
            padding: 9px 24px;
            cursor: pointer;
            background: $pam_color3;
            border: none;
            border-radius: 30px;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            font-family: $primary;
            font-weight: 600;
            color: $pam_color1;
        }
    }
}

.main {
    &__popular-cities {
        background: url(./img/picture_home1.png) no-repeat top / cover;
        height: 800px;
    }

    &__popular-cities-container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    &__popular-offer {
        padding-top: 130px;
    }

    &__popular-offer-links {
        display: flex;
        gap: 22px;
        & a {
            color: $pam_color3;
            background: rgba(109, 49, 208, 0.5);
            text-transform: uppercase;
            padding: 0 5px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 19.5px;
            font-family: $primary;
            font-weight: 500;
        }
    }

    &__popular-offer-text {
        margin-top: 24px;

        & p, & div {
            color: $pam_color6;
            font-weight: 600;
            font-family: $primary;
            line-height: 40px;
        }

        & p {
            font-size: 36px;
        }

        & div {
            font-size: 20px;
        }
    }

    &__popular-offer-desc {
        margin-top: 24px;
        & p {
            width: 520px;
            font-family: $secondary;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: $pam_color6;
        }
    }

    &__popular-offer-find-wrapper {
        margin-top: 23px;

        & button {
            margin-bottom: 78px;
            width: 200px;
            height: 48px;
            padding: 16px 22px;
            cursor: pointer;
            background: $pam_color_linear9;
            border: none;
            border-radius: 35.27px;
            font-size: 20px;
            line-height: 16px;
            font-family: $primary;
            font-weight: 600;
            color: $pam_color1;
        }
    }

    &__popular-cities-wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }

    &__cities-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        & div {
            background-color: $pam_color6;
            border-radius: 12px;
            padding: 10px;

            & img {
                margin-bottom: 10px;
            }

            & p {
                font-family: $primary;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: $pam_color2;
            }
        }
    }

    &__popular-cities-title-wrapper {
        margin-bottom: 16px;

        & h4 {
            color: $pam_color6;
            font-family: $primary;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
        }
    }

    &__services {
        background: $pam_color_linear2;
    }

    &__services-container {
        margin: 0 auto;
        max-width: 1440px;
        width: 100%;
        padding-top: 80px;
    }

    &__services-headline-wrapper {
        margin-bottom: 80px;
        width: 380px;
        height: 50px;
        margin: 0 auto;
    }
    
    &__services-headline {
        text-align: center; 
        font-family: $secondary;
        font-weight: 600;
        font-size: 36px;
        color: $pam_color6;
        line-height: 40px;
        text-transform: uppercase;
    }

    &__services-cards {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        gap: 20px;

        & div {
            max-width: 380px;
            width: 100%;
            max-height: 515px;
            height: 100%;
            text-align: center;
            background-color: $pam_color6;
            border-radius: 21px;
            margin-bottom: 80px;

            & h3 {
                margin-top: 20px;
                max-width: 380px;
                height: 63px;
                font-family: $secondary;
                font-weight: 600;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                color: $pam_color5;
                text-transform: uppercase;
            }

            & p {
                margin: 0 auto;
                margin-bottom: 20px;
                font-family: $secondary;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                max-width: 320px;
            }

            & button {
                margin-bottom: 20px;
                width: 200px;
                height: 48px;
                padding: 16px 22px;
                cursor: pointer;
                background: $pam_color_linear9;
                border: none;
                border-radius: 35.27px;
                font-size: 20px;
                line-height: 16px;
                font-family: $primary;
                font-weight: 600;
                color: $pam_color1;
            }
        }
    }

    &__paradise-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;
        padding: 0 10px;
    }

    &__paradise-text {
        max-width: 540px;
        padding: 0 60px;
        text-align: center;

        & h2 {
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: 33px;
            line-height: 29px;
            font-family: $secondary;
            font-weight: 600;
        }

        & p {
            font-size: 16px;
            font-family: $secondary;
            font-weight: 400;
            letter-spacing: 0.5px;
            text-align: center;
            line-height: 24px;
            margin-bottom: 25px;
        }

        & button {
            width: 200px;
            height: 48px;
            padding: 16px 22px;
            cursor: pointer;
            background: $pam_color_linear9;
            border: none;
            border-radius: 35.27px;
            font-size: 20px;
            line-height: 16px;
            font-family: $primary;
            font-weight: 600;
            color: $pam_color1;
        }
    }
    
    &__paradise-title-wrapper {
        width: 440px;
    }

    &__choose-cyprus {
        background-color: $pam_color3;
    }

    &__choose-cyprus-container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 133px;
    }

    &__choose-cyprus-headline {
        margin-bottom: 60px;
        text-align: center;
    }

    &__choose-cyprus-title {
        margin: 0 auto;
        margin-bottom: 20px;
        font-family: $secondary;
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
        color: $pam_color5;
        text-transform: uppercase;
    }

    &__choose-cyprus-desc {
        max-width: 580px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
        font-family: $secondary;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: $pam_color5;
    }

    &__choose-cyprus-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;

        & img {
            margin-bottom: 24px;
        }

        & h4 {
            margin-bottom: 4px;
            font-family: $primary;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            color: $pam_color1;
        }

        & p {
            font-family: $secondary;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: $pam_color5;
        }
    }

    &__choose-cyprus-icon-wrapper {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__find-location-container {
        padding: 81px 0 138px 129px;
        width: 681px;
    }

    &__map-headline {
        margin-bottom: 5px;
    }

    &__map-title {
        margin-bottom: 20px;
        width: 580px;
        font-family: $secondary;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        color: $pam_color1;
    }

    &__map-desc {
        font-family: $primary;
        font-size: 20px;
        line-height: 32px;
        color: $pam_color5;
    }

    &__about-us {
        background: $pam_color_linear2;
    }

    &__about-us-container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 64px 130px 37px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__about-us-who-we-are-headline {
        margin-bottom: 18.25px;
        font-family: $secondary;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        color: $pam_color6;
        text-transform: uppercase;
    }

    &__about-us-who-we-are-text {
        max-width: 480px;
        margin-bottom: 60px;
        font-family: $secondary;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: $pam_color6;
    }

    &__about-us-who-we-are-text:nth-child(2) {
        margin-bottom: 20px;
    }

    &__about-us-who-we-are-btn {
        & button {
            padding: 9px 24px;
            background: $pam_color3;
            color: $pam_color1;
            border: none;
            border-radius: 30px;
            font-family: $primary;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
        }
    }

    &__founder-card {
        display: flex;
        justify-content: flex-start;
        padding: 20px;
        gap: 40px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    &__founder-card-info {
        margin-top: 22px;
    }

    &__founder-card-position {
        text-transform: uppercase;
        margin-bottom: 15px;
        width: 106px;
        color: $pam_color1;
        font-family: $primary;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
    }

    &__founder-card-name {
        margin-bottom: 17px;
        margin-left: -7px;
        font-family: $secondary;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: $pam_color5;
        width: 201px;
    }

    &__founder-card-contact-link {
        margin-left: -7px;
        & button {
            padding: 11px 28px;
            width: 147px;
            height: 50px;
            background: $pam_color3;
            border: none;
            border-radius: 24.4664px;
            box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
            color: $pam_color1;
            font-family: $primary;
            font-weight: 600;
            font-size: 18px;
            line-height: 21.6px;
            text-align: center;
        }
    }
}



.first, .second, .third, .fourth {
    border-radius: 800px;
    margin-bottom: 24px;
}

.first {
    background: $pam_color_linear2;
}

.second {
    background: $pam_color_linear4;
}

.third {
    background: $pam_color_linear5;
}

.fourth {
    background: $pam_color_linear8;
}



